<div class="about">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
   <body>
      <h2 style="text-align:center;">  AirbnBoost </h2>

       <h1 style="text-align:center;">
         <p style="text-align:center;"> Powered by machine learning,
         AirbnBoost enables users to easily find the Airbnb that
          suits them best. Features include:
         <li style="margin-top: 35px;"> Find <b>great deals</b> based on
           AirbnBoost's pricing algorithm. The algorithm compares similar listings
           and identifies the ones that are underpriced.
         <li style="margin-top: 15px;"> Looking for a modern apartment or
           high aesthetics? Filter listings that <b>match your
            preferences</b>, without the need to read through their full
            descriptions.
         <li style="margin-top: 15px;"> Understand the characteristics of the
           <b>urban environment surrounding a listing</b>. Is the neighborhood noisy,
           is the listing close to transportation?
           </p>

           <p style="text-align:center; margin-top: 70px;">Currently available in New York City. Coming
             soon for London, Paris, and Athens.</p>
       </h1>

        <footer id="footer">
          <span class="copyright">
            Copyright &copy; 2019 Sokratis Papadopoulos. All rights reserved.
          </span>


        </footer>

   </body>
</div>
