<div class="home" >
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
   <body>
      <h2 style="text-align:center;">  AirbnBoost </h2>

       <h3 style="text-align:center;">  Find the Airbnb that suits you best </h3>

        <div style="text-align:center;">
            <a href="about" class="button">LEARN MORE</a>
            <a href="app" class="button">EXPLORE</a>
        </div>

        <!-- <embed src="airbnBoost_tutorial.mp4" width="300" height="300"> -->

        <div style="text-align:center; margin-top: 35px;" >
          <iframe width="560" height="315"
          src="https://www.youtube-nocookie.com/embed/PYASWCrG_OM?rel=0&showinfo=0"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        </div>



        <footer id="footer">
          <span class="copyright">
            Copyright &copy; 2019 Sokratis Papadopoulos. All rights reserved.
          </span>


        </footer>

   </body>
</div>
